header{
    width: 100%;
    height: 100px;
    background-color: #1a1a1a;
    border-radius:  30px;
    margin-top: 0px;
}


#container {
    background-color: darkgray;
    position: relative;
    min-height: 100vh;
  }

  content-wrap {
    padding-bottom: 2.5rem;    
  }
  
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5.0rem;  
    background-color: #1a1a1a;    
    border-radius:  30px;      
  }

h1{
    color: white;
}

#login{
    margin-top: 0px;
    margin-left: 0;
    width: 400px;
    height: 600px;
    background-color: #1f2e2e;
    display: inline-block;
}

    #title{
      margin-left: 50px;  
      padding-top: 30px;
    }

    #link1 {
        margin-top: -50px;
        text-align: center;
        margin-left: 70% ;
        border-radius: 50px 50px 50px 50px;
        font-size: 20px;
        width: 90px;
        background-color: #1A78D1;
        color: white;
      }
      
      #link2 {
        margin-top: -25px;
        text-align: center;
        margin-left: 80% ;
        border-radius: 50px 50px 50px 50px;
        font-size: 20px;
        width: 90px;
        background-color: #CCCCCC;
        color: black;
      }
      
      #link3 {
        margin-top: -30px;
        text-align: center;
        margin-left: 90% ;
        border-radius: 50px 50px 50px 50px;
        font-size: 20px;
        width: 90px;
        background-color: #1A78D1;
        color: white;
      }

      #useronline{
         color: white;
         font-size: 20px;
         margin-top: 30px;
         margin-left: 100px;
         padding-top: 50px;
      }

      a {
        color: white;
      }


      form { padding: 20px; position: right; bottom: 400px; margin-left: 400px; width: 100%; padding-right: 50px;}
      #messages { list-style-type: none; margin-left: 1100px; margin-top: 500px; padding: 0; width: 60%;}
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #F0F8FF;} 


      @media only screen and (max-width: 450px) {
        #container {
          background-color: ;
        }

        #messages{
          margin-left: 10px;
        }

        #login{
          width: 10px;
          height: 10px;
        }
      
        form { padding: 20px; position: right; bottom: 20px; margin-left: 20px; width: 100%; padding-right: 50px;}
      
    }